{
    "server": "0.0.0.0",
    "server_port": {{ shadowsocks_port }},
    "password": "{{ shadowsocks_password }}",
    "timeout": 600,
    "method": "{{ shadowsocks_method }}",
    "mode": "tcp_and_udp",
    "fast_open": true
}
