node:
  identity:
    persistent: true
  discovery:
    nostr:
      enabled: true
      policy: configured_only
      app: "fips-overlay-v1"
      advertise: true
      advert_relays:
{% for relay in fips_advertise_relays %}
        - "{{ relay }}"
{% endfor %}
      dm_relays:
{% for relay in fips_dm_relays %}
        - "{{ relay }}"
{% endfor %}
      stun_servers:
{% for stun in fips_stun_servers %}
        - "{{ stun }}"
{% endfor %}

tun:
  enabled: true
  name: fips0
  mtu: 1280

dns:
  enabled: true
  bind_addr: "[::1]"
  port: 5354

transports:
  udp:
    bind_addr: "0.0.0.0:2121"
    advertise_on_nostr: true
  tcp:
    bind_addr: "0.0.0.0:8443"
    advertise_on_nostr: true
{% if fips_external_addr | length > 0 %}
    external_addr: "{{ fips_external_addr }}"
{% endif %}
{% if fips_ethernet_interface | length > 0 %}
  ethernet:
    interface: "{{ fips_ethernet_interface }}"
    discovery: true
    announce: true
    auto_connect: true
    accept_connections: true
{% endif %}

peers:
{% for peer in fips_peers %}
  - npub: "{{ peer.npub }}"
    alias: "{{ peer.alias }}"
    transport: "{{ peer.transport }}"
    addr: "{{ peer.addr }}"
    connect_policy: "{{ peer.connect_policy }}"
{% endfor %}